@model TendesAfter.Models.Producer

<style>
	#page-content {
		margin-top: 150px;
		margin-bottom: 50px;
	}

	#page-header {
		font-weight: bold;
		color: #CCC;
		margin-left: 15px;
	}

	label {
		font-weight: 500;
		color: #F44D10;
		font-size: 1.5rem;
		display: block;
	}

	#create-btn, #back-btn {
		background-color: #171A3C;
		color: #FFF;
		border: 1px solid #FFF;
	}

		#create-btn:hover {
			color: #F44D10;
			border: 1px solid #F44D10;
		}

		#back-btn:hover {
			color: #F44D10;
			border: 1px solid #F44D10;
		}

</style>

<div id="page-content" class="container">
	<form method="post" asp-action="Create">
		<div class="p-3 mt-4">
			<div class="row pb-2">
				<h2 id="page-header">Adicionar Produtor</h2>
			</div>
			<div asp-validation-summary="All"></div>
			<div class="mb-3">
				<label asp-for="Name">Nome de Produtor:</label>
				<input asp-for="Name" class="form-control" placeholder="Ex. FPS" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<button id="create-btn" type="submit" class="btn" style="width:150px">Adicionar</button>
			<a id="back-btn" asp-controller="Producer" asp-action="Index" class="btn ml-3" style="width:150px">
				Voltar Atrás
			</a>
		</div>
	</form>
</div>
@section Scripts
	{
	@{
		<partial name="_ValidationScriptsPartial" />
	}

}

