@model IEnumerable<TendesAfter.Models.CoverType>

<style>
    #page-content {
        margin-top: 150px;
        margin-bottom: 50px;
    }

    #page-header {
        justify-content: space-between;
    }

        #page-header h2 {
            font-weight: bold;
            color: #CCC;
            margin-left: 15px;
        }

    #add-platform-btn {
        color: #171A3C;
        background-color: #F44D10;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }

    #add-platform-btn:hover{
        color: #FFF;
        border: 1px solid #FFF;
    }

    thead {
        background-color: #CCC;
        color: #171A3C;
        font-weight: bold;
    }

    tbody tr:hover {
        background-color: #F44D10;
    }

    #editar-btn {
        background-color: #171A3C;
        border-radius: 8px;
    }

        #editar-btn:hover {
            color: #F44D10;
        }

    #remover-btn {
        background-color: rgb(134, 6, 6);
        border-radius: 8px;
    }

        #remover-btn:hover {
            color: #000;
        }
</style>

<partial name="_Notification"/>
<div id="page-content" class="container">
    <div id="page-header" class="row mb-5">
        <h2>Lista de Plataformas</h2>
        <a id="add-platform-btn" asp-controller="CoverType" asp-action="Create" class="btn">
                <i class="bi bi-plus-square"></i> &nbsp; Adicionar nova Plataforma
            </a>
    </div>
             
    <table class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>
                  CoverType Name
                </th>
 
                <th>
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td width="75%">
                        @obj.Name
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                                <a id="editar-btn" asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id" class="btn mx-2"><i class="bi bi-pen"></i> Editar</a>
                              <a id="remover-btn" asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id"  class= "btn mx-2"> <i class="bi bi-trash3"></i> Remover</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

