html,
body {
    height: 100%;
    margin: 0;
}

#payment-area {
    margin-top: 200px;
    min-height: 100%;
}

#payment-area h3 {
    border-bottom: 1px solid #FFF;
    font-weight: bold;
    padding-bottom: 5px;
}

#metodo {
    width: 50%;
    height: 35px;
    text-align: center;
    background-color: #000326;
    font-weight: bold;
    color: #FFF;
    margin: 10px 0;
    border: none;
}

#payment-area input[type=text],
#pais {
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: #000326;
    font-weight: bold;
    color: #FFF;
    margin: 10px 0;
    border: none;
}

::placeholder {
    color: #FFF;
    opacity: 0.8;
}

:-ms-input-placeholder {
    color: #FFF;
}

::-ms-input-placeholder {
    color: #FFF;
}

#payment-area input[type=checkbox]{
    margin: 10px 0;
}

#buy{
    background-color: #FDE291;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: bold;
}

.payment-img{
    display: inline-block;
    height: 30px;
}

#right-area{
    height: 220px;
}

#right-area h4{
    font-weight: bold;
}

#right-area p{
    margin-top: 10px;
}