@model TendesAfter.Models.ViewModels.ProductVM

<style>
	#page-content{
		margin-top: 150px;
	}

	#page-header {
		font-weight: bold;
		color: #CCC;
		margin-left: 15px;
	}

	label{
		font-weight: 500;
		color: #F44D10;
		font-size: 1.5rem;
		display: block;
	}

	#uploadBox{
		margin-top: 10px;
		margin-bottom: 10px;
		height: auto;
		padding: 10px;
	}

	#create-btn,#back-btn {
		background-color: #171A3C;
		color: #FFF;
		border: 1px solid #FFF;
	}

	#create-btn:hover {
	color: #F44D10;
	border: 1px solid #F44D10;
	}

	#back-btn:hover{
		color: #F44D10;
		border: 1px solid #F44D10;
	}

	</style>
<div id="page-content" class="container mb-5">
	<form method="post" asp-controller="Product" asp-action="Upsert" enctype="multipart/form-data">
		<input asp-for="product.id" hidden/>
		<input asp-for="product.ImageUrl" hidden />

			<div class="row pb-2">
				<h2 id="page-header"> @(Model.product.id != 0 ? "Atualizar" : "Adicionar") Videojogo</h2>
			</div>
			<div asp-validation-summary="All"></div>
			<!-- Título -->
			<div class="mb-3">
				<label asp-for="product.Title">Título do Videojogo:</label>
				<input asp-for="product.Title" class="form-control" rows="3" placeholder="Ex. Call of Duty">
				<span asp-validation-for="product.Title" class="text-danger"></span>
			</div>
			<!-- Capa -->
			<div class="mb-3">
				<label asp-for="product.ImageUrl">Capa do Videojogo:</label>
				<input type="file" class="form-control" name="file" id="uploadBox"/>
			</div>
			<!-- Categoria / Preço -->
			<div class="row">
				<div class="mb-3 col-6">
					<label asp-for="product.CategoryId">Categoria:</label>
					<select asp-for="product.CategoryId" asp-items="@Model.CategoryList" class="form-select" style="border-radius: 0.25rem; border: 1px solid #ced4da; height: 50px; background: #171A3C; padding: 10px 5px; width: 100%; color: #FFF;">
						<option disabled selected>Selecionar Categoria</option>
					</select>
					<span asp-validation-for="product.CategoryId" class="text-danger"></span>
				</div>
			<div class="mb-3 col-6">
					<label asp-for="product.Price">Preço (€):</label>
					<input asp-for="product.Price" class="form-control" style="height: 50px;" placeholder="0.00€"/>
					<span asp-validation-for="product.Price" class="text-danger"></span>
				</div>
			</div>
			<!-- Consola -->
			<div class="row">
				<div class="mb-3 col-6">
					<label asp-for="product.CoverTypeID">Plataforma:</label>
				<select asp-for="product.CoverTypeID" asp-items="@Model.CoverTypeList" class="form-select" style="border-radius: 0.25rem; border: 1px solid #ced4da; height: 50px; background: #171A3C; padding: 10px 5px; width: 100%; color: #FFF;">
						<option disabled selected>Selecione a Plataforma</option>
					</select>
					<span asp-validation-for="product.CategoryId" class="text-danger"></span>
				</div>
			</div>
		<!-- Produtora -->
		<div class="row">
			<div class="mb-3 col-12">
				<label asp-for="product.ProducerId">Produtora:</label>
				<select asp-for="product.ProducerId" asp-items="@Model.ProducerList" class="form-select" style="border-radius: 0.25rem; border: 1px solid #ced4da; height: 50px; background: #171A3C; padding: 10px 5px; width: 100%; color: #FFF;">
					<option disabled selected>Selecione a Produtora</option>
				</select>
				<span asp-validation-for="product.ProducerId" class="text-danger"></span>
			</div>
		</div>
			<!-- Descrição -->
			<div class="mb-3">
				<label asp-for="product.Description">Descrição:</label>
				<textarea asp-for="product.Description" rows="3" class="form-control" style="background: #171A3C;"></textarea>
				<span asp-validation-for="product.Description" class="text-danger"></span>
			</div>
			<div class="row">
				<div class="col-12">
					@if (Model.product.id != 0)
					{
						<button type="submit" class="btn" style="width:150px">Atualizar</button>
					}
					else
					{
						<button id="create-btn" type="submit" onclick="return ValidateInput()" class="btn" style="width:150px">Adicionar</button>

					}
					<a id="back-btn" asp-controller="Product" asp-action="Index" class="btn ml-3" style="width:150px">
						Voltar Atrás
					</a>
				</div>
			</div>
	</form>
</div>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script>
		function ValidateInput() {
			if (document.getElementById("uploadBox").value == "") {
				Swal.fire(
					{
						icon: 'Erro',
						title: 'Oops...',
						text: 'Por favor insira uma Imagem!',
					});
				return false;
			}
			return true;
		}
	</script>

	@*<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			]
		});
	</script>*@
}