@model TendesAfter.Models.ViewModels.ProductVM

<form method="post" asp-controller="Product" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="product.id" hidden/>
	<input asp-for="product.ImageUrl" hidden />

	<div class="border p-3 mt-4 row">
		<div class="row pb-2">
			<h2 class="text-primary"> @(Model.product.id != 0 ? "Update" : "Create") Product</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="product.Title"></label>
			<input asp-for="product.Title" class="form-control" rows="3">
			<span asp-validation-for="product.Title" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="product.Description"></label>
			<textarea asp-for="product.Description" rows="3" class="form-control"></textarea>
			<span asp-validation-for="product.Description" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="product.Price"></label>
			<input asp-for="product.Price" class="form-control" />
			<span asp-validation-for="product.Price" class="text-danger"></span>
		</div>
		<div class="mb-3 ">
			<label asp-for="product.ImageUrl"></label>
			<input type="file" class="form-control" name="file" id="uploadBox"/>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="product.CategoryId"></label>
			<select asp-for="product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
				<option disabled selected>Select Category</option>
			</select>
			<span asp-validation-for="product.CategoryId" class="text-danger"></span>
		</div>
		<div class="mb-3 col-6">
			<label asp-for="product.CoverTypeID"></label>
			<select asp-for="product.CoverTypeID" asp-items="@Model.CoverTypeList" class="form-select">
				<option disabled selected>Select CoverType</option>
			</select>
			<span asp-validation-for="product.CategoryId" class="text-danger"></span>
		</div>
		<div class="col-12">
			@if (Model.product.id != 0)
			{
				<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
			}
			else
			{
				<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>

			}
			<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
				Back To List
			</a>
		</div>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	<script>
		function ValidateInput() {
			if (document.getElementById("uploadBox").value == "") {
				Swal.fire(
					{
						icon: 'error',
						title: 'Oops...',
						text: 'Please upload an Image!',
					});
				return false;
			}
			return true;
		}
	</script>

	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
			toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			tinycomments_mode: 'embedded',
			tinycomments_author: 'Author name',
			mergetags_list: [
				{ value: 'First.Name', title: 'First Name' },
				{ value: 'Email', title: 'Email' },
			]
		});
	</script>
}