<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TendesAfter.pt</title>
    <link rel="shortcut icon" href="images/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS Files-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
@*    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.5.2/dist/css/glide.core.min.css">
*@    <link href="CSS/style.css" rel="stylesheet" tyoe="text/css">
    <link href="CSS/global-style.css" rel="stylesheet" tyoe="text/css">
    <link href="CSS/cart.css" rel="stylesheet" tyoe="text/css">
</head>

<body>
    <!-- Início Barra de Navegação -->
    <header>
        <nav id="main-nav" class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <!-- Início Logo -->
                <div class="col-3">
                    <a href="index.html" class="navbar-brand">
                        <img src="images/logo.png" width="150">
                    </a>
                </div>
                <!-- Fim Logo-->
                <!-- Início Searchbar-->
                <div class="col-6">
                    <div>
                        <div class="input-box">
                            <input type="text" id="searchbar" name="searchbar" class="form-control" maxlength="50"
                                placeholder="Procurar...">
                            <a href=""><i class="bi bi-search"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Fim Searchbar-->
                <!-- Início área Login/Registo -->
                <div class="col-3">
                    <div>
                        <ul>
                            <li class="align-middle"><img src="images/user.png"></li>
                            <li class="align-middle"><a href="login.html">Login</a></li> |
                            <li class="align-middle"><a href="register.html">Registo</a></li>
                            <li class="align-middle"><img src="images/portugal-flag.png"></li>
                        </ul>
                    </div>
                </div>
                <!-- Fim área Login/Registo -->
            </div>
        </nav>
    </header>
    <!-- Fim Barra de Navegação -->

    <!-- Início Carrinho -->
    <section id="cart-area" class="container">
        <div class="game-info">
            <!-- Início Jogo -->
            <div class="row">
                <div class="col-3">
                    <img class="game-pic" src="images/jogo_8.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <a href="game.html"><h1 class="game-title">Days Gone - PC</h1></a>
                </div>
                <div class="col-3 align-self-end" style="text-align: right">
                    <p class="game-price"><span class="promo">49,99€</span>&ensp;10,64€&ensp;</p>
                    <a><img class="delete" src="images/delete.png"></a>
                </div>
            </div>
        </div>
        <!-- Fim Jogo -->
        <!-- Início Jogo -->
        <div class="game-info">
            <div class="row">
                <div class="col-3">
                    <img class="game-pic" src="images/jogo_9.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <a href="game.html"><h1 class="game-title">Destiny 2: Legacy Collection - DLC - PC</h1></a>
                </div>
                <div class="col-3 align-self-end" style="text-align: right">
                    <p class="game-price"><span class="promo">59,99€</span>&ensp;25,99€&ensp;</p>
                    <a><img class="delete" src="images/delete.png"></a>
                </div>
            </div>
        </div>
        <!-- Fim Jogo -->

        <!-- Início Rodapé Carrinho-->
        <div>
            <div id="cart-info" class="row">
                <div class="col-9"></div>
                <div class="col-3 align-self-end">
                    <p id="cart-total">Total do Carrinho:&emsp;<span id="total">36,63€</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-9"></div>
                <div class="col-3">
                    <button type="button" name="checkout" id="checkout"><a href="payment.html">Avançar com a compra</a></button>
                </div>
            </div>
        </div>
        <!-- Fim Rodapé Carrinho-->
    </section>
    <!-- Fim Carrinho -->

    <!-- Início rodapé -->
    <footer>
        <div id="footer-top">
            <div id="payment-methods" class="container">
                <img src="images/paypal.png" class="mr-3">
                <img src="images/paysafecard.png" class="mr-3">
                <img src="images/multibanco.png" class="mr-3">
                <img src="images/visa.png">
            </div>
        </div>
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h2>Informações</h2>
                        <ul>
                            <li><a>Sobre nós</a></li>
                            <li><a>Pedidos de Reembolso</a></li>
                            <li><a>Política de Privacidade</a></li>
                            <li><a>Termos & Condições</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h2>Serviço ao Cliente</h2>
                        <ul>
                            <li><a>Contactos</a></li>
                            <li><a>Produtoras</a></li>
                            <li><a>FAQ - Perguntas Frequentes</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h2>Geral</h2>
                        <ul>
                            <li><a>A Minha Conta</a></li>
                            <li><a>Histórico de Compras</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h2 style="border: none;"><a>Segue-nos</a></h2>
                        <div id="social-icons">
                            <a href="">
                                <img class="social-icon" src="images/facebook.png" alt="Facebook">
                            </a>
                            <a href="">
                                <img class="social-icon" src="images/instagram.png" alt="Instagram">
                            </a>
                            <a href="">
                                <img class="social-icon" src="images/twitter.png" alt="Twitter">
                            </a>
                            <a href="">
                                <img class="social-icon" src="images/discord.png" alt="Discord">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fim rodapé -->

    <!-- JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
@*    <script src="https://unpkg.com/@glidejs/glide"></script>
*@    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>