<!DOCTYPE html>
<html lang="pt-pt">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TendesAfter.pt</title>
    <link rel="shortcut icon" href="images/logo.png" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- CSS Files-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.5.2/dist/css/glide.core.min.css">
    <link href="CSS/global-style.css" rel="stylesheet" tyoe="text/css">
    <link href="CSS/payment.css" rel="stylesheet" tyoe="text/css">
</head>

<body>
    <!-- Início Barra de Navegação -->
    <header>
        <nav id="main-nav" class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <!-- Início Logo -->
                <div class="col-3">
                    <a href="index.html" class="navbar-brand">
                        <img src="images/logo.png" width="150">
                    </a>
                </div>
                <!-- Fim Logo-->
                <!-- Início Searchbar-->
                <div class="col-6">
                    <div>
                        <div class="input-box">
                            <input type="text" id="searchbar" name="searchbar" class="form-control" maxlength="50"
                                placeholder="Procurar...">
                            <a href=""><i class="bi bi-search"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Fim Searchbar-->
                <!-- Início área Login/Registo -->
                <div class="col-3">
                    <div>
                        <ul>
                            <li class="align-middle"><img src="images/user.png"></li>
                            <li class="align-middle"><a href="login.html">Login</a></li> |
                            <li class="align-middle"><a href="register.html">Registo</a></li>
                            <li class="align-middle"><img src="images/portugal-flag.png"></li>
                        </ul>
                    </div>
                </div>
                <!-- Fim área Login/Registo -->
            </div>
        </nav>
    </header>
    <!-- Fim Barra de Navegação -->

    <!-- Início Área Principal -->


    <section id="payment-area">
        <div class="container">
            <div class="row">
                <!-- Início secção lateral esquerda -->
                <div class="col-6" style="background-color: #171A3C; padding: 10px;">
                    <h3>Selecione um método de pagamento</h3>
                    <form>
                        <select name="metodo" id="metodo">
                            <option>Multibanco</option>
                            <option>PayPal</option>
                            <option>Visa</option>
                            <option>PaysafeCard</option>
                        </select>
                    </form>
                    <h3>Informações de Compra</h3>
                    <div class="row">
                        <div class="col-6">
                            <form>
                                <input type="text" name="nome" id="nome" placeholder="Primeiro Nome">
                            </form>
                        </div>
                        <div class="col-6">
                            <form>
                                <input type="text" name="apelido" id="apelido" placeholder="Último Nome">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <input type="text" name="endereco" id="endereco" placeholder="Endereço de Cobrança">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <form>
                                <select name="pais" id="pais">
                                    <option>Portugal</option>
                                    <option>Inglaterra</option>
                                    <option>França</option>
                                    <option>Alemanha</option>
                                </select>
                            </form>
                        </div>
                        <div class="col-6">
                            <form>
                                <input type="text" name="cod-postal" id="cod-postal" placeholder="Código Postal">
                            </form>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <input type="checkbox" id="remember-user" name="remember-user" value="checked">
                                <label for="remember-user">Lembrar informações para futuros pagamentos</label>
                            </form>
                        </div>
                        <div class="col-12" style="text-align: right">
                            <button type="button" id="buy" name="buy"><a href="">Continuar</a></button>
                        </div>
                    </div>
                </div>
                <!-- Fim secção lateral esquerda -->
                <!-- Início secção lateral direita -->
                <div id="right-area" class="col-5 offset-1" style="background-color: #171A3C; padding: 10px;">
                    <h4>Métodos de Pagamento</h4>
                    <p>Aceitamos os seguintes métodos de pagamento:</p>
                    <img src="images/paypal.png" class="mr-1 img-fluid payment-img">
                    <img src="images/paysafecard.png" class="mr-1 img-fluid payment-img">
                    <img src="images/multibanco.png" class="mr-1 img-fluid payment-img">
                    <img src="images/visa.png" class="img-fluid payment-img">
                    <p>Os dados relativos às tuas informações de pagamento são protegidos por tecnologia Secure Socket Layer (SSL), certificada digitalmente.</p>
                </div>
                <!-- Fim secção lateral direita -->
            </div>
        </div>
    </section>
    <!-- Fim Área Principal -->

    <!-- Início rodapé -->
    <footer>
        <div id="footer-top">
            <div id="payment-methods" class="container">
                <img src="images/paypal.png" class="mr-3">
                <img src="images/paysafecard.png" class="mr-3">
                <img src="images/multibanco.png" class="mr-3">
                <img src="images/visa.png">
            </div>
        </div>
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h2>Informações</h2>
                        <ul>
                            <li><a>Sobre nós</a></li>
                            <li><a>Pedidos de Reembolso</a></li>
                            <li><a>Política de Privacidade</a></li>
                            <li><a>Termos & Condições</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h2>Serviço ao Cliente</h2>
                        <ul>
                            <li><a>Contactos</a></li>
                            <li><a>Produtoras</a></li>
                            <li><a>FAQ - Perguntas Frequentes</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h2>Geral</h2>
                        <ul>
                            <li><a>A Minha Conta</a></li>
                            <li><a>Histórico de Compras</a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h2 style="border: none;"><a>Segue-nos</a></h2>
                        <div id="social-icons">
                            <a href="">
                                <img class="social-icon" src="images/facebook.png" alt="Facebook">
                            </a>
                            <a href="">
                                <img class="social-icon" src="images/instagram.png" alt="Instagram">
                            </a>
                            <a href="">
                                <img class="social-icon" src="images/twitter.png" alt="Twitter">
                            </a>
                            <a href="">
                                <img class="social-icon" src="images/discord.png" alt="Discord">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fim rodapé -->

    <!-- JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/@glidejs/glide"></script>
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>