@page
@model ForgotPasswordModel

<style>
    #page-content{
        margin-top: 200px;
        text-align: center;
    }
    #page-header{
        font-weight: bold;
        color: #F44D10;
        margin-bottom: 20px;
    }
    #page-card{
        border: 1px solid #CCC;
        border-radius: 8px;
        padding: 50px 30px;
    }

    #alterar-btn {
        background-color: #171A3C;
        border-radius: 8px;
        color: #FFF;
        border: 1px solid #FFF;
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }

        #alterar-btn:hover {
            color: #F44D10;
            border: 1px solid #F44D10;
            cursor: pointer;
        }
</style>

<div id="page-content" class="container">
    <div id="page-card" class="col-6 offset-3">
        <h2 id="page-header">Insira o seu email:</h2>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Email" class="form-control" aria-required="true"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <button id="alterar-btn" type="submit">Alterar Password</button>
                </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
