@page
@model ForgotPasswordConfirmation

<style>
    #page-content{
        margin-top: 150px;
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #page-content p {
        font-weight: bold;
        color: #CCC;
        margin-bottom: 20px;
    }
</style>
<div id="page-content" class="container">
    <p>
        Por favor, verifique o seu email para resetar a sua password.
    </p>
</div>