@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link href="~/css/register.css" rel="stylesheet" type="text/css">
</head>


<!-- Início Registo -->
<section id="register-area">
    <div class="container">
        <div class="row">
            <div class="register-card col-6 offset-3">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Registar</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-4">
                        <input type="text" asp-for="Input.Name" class="form-control" aria-required="true" placeholder="Nome de Utilizador" />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="text" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email de Utilizador"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirmar password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating my-2">
                        <select id="form-role" asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select">
                            <option disabled selected>Selecionar Cargo</option>
                        </select>
                    </div>
                    <input type="checkbox" id="terms_check" name="terms_check" value="checked">
                    <label for="terms_check">Concordo com os <a href="" style="color: #F44D10;">Termos de Uso e Declarações de Privacidade</a></label>
                    <button id="registerSubmit" type="submit">Registar</button>
                </form>
                <p>Já se registou? <span><a id="register-to-login" href="login.html">Clique aqui!</a></span></p>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
